<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}" />
        <title>Hello</title>
    </head>
    <body>
        <button onclick="testMQTT()"> Hello </button>
        <script>
            function testMQTT(){
                let mqttMessage = new Paho.MQTT.Message("test")
                mqttMessage.destinationName = "testTopic"
                MQTT_CLIENT.send(mqttMessage)
            }
        </script>
    </body>
</html>