<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico')}}"/>
        <title>Hello</title>
    </head>
    <body>
        <header>
            <div id="header" class="container"> 
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/graph">Plot</a></li>
                    <li><a href="button_test_page">Test</a></li>
                    <li><a href="/upload">Upload</a></li>
                </ul>
                <div class="login-container">
                    {% if not is_logged_in %}
                        <form action="/login" method="POST">
                            <input type="email" placeholder="email" name="email">
                            <button type="submit">Validate</button>
                        </form>
                    {% else %}
                        <button onclick="clearCookies()">Logout</button>
                    {% endif %}
                </div>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
            <div class="center">
                <h1>ok, this kinda works</h1>
                <img src="{{ url_for('static', filename='/images/imaybestupid.jpg')}}" width="300">
            </div>
        </main>
        <footer>
            
        </footer>
        <script>
            function clearCookies() {
                document.cookie = "email=; expires= Tue, 11 Sep 2001 13:14:00 GMT+1, path=/;";
                location.reload();
            }
        </script>
    </body>
</html>