{% extends "index.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/chart.umd.js')}}"></script>
<script src="{{ url_for('static', filename='js/socket.io.js')}}"></script>
<div class="testbtn-container center">
    <form action="{{ url_for('mqtt_test') }}" method="POST">
        <button class="btn" name="message" type="submit" value=1>send 1</button>
    </form>
    <form action="{{ url_for('mqtt_test') }}" method="POST">
        <button class="btn" name="message" type="submit" value=0>send 0</button>
    </form>
</div>
<div class="graph-container">
    <canvas style="height: 90vh;" id="graph"></canvas>
</div>
<script type="module" src="{{ url_for('static', filename='js/plotting.js')}}"></script>
{% endblock %}